/* global styles */
body {
    margin: 0;
}

.g-font {
    font-family: 'Open Sans', sans-serif;
}

.g-capitalized-font {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
}

.g-width {
    width: 60vw;
    margin: auto;
}

.subtitle {
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 100;
    color: #A9A9A9;
}

/* header */
.header {
    height: 10vh;
    background: url("images/background_trees.jpg") no-repeat fixed;
    background-position: center;
    opacity: .8;
    z-index: -10;
}

.overlay {
    height: 100%;
    background-color: rgba(0,0,0,.6);
}

.header-nav {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
    padding-top: 2vh;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
}

.header-nav a:hover {
    border-bottom: solid 3px #fff;
}

/* intro */
.intro-section {
    padding: 100px;
    text-align: center;
}

.intro-section h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 100;
    color: #228B22;
    font-family: 'Rosario', sans-serif;
}

.subheading {
    font-size: 12px;
    color: #A9A9A9;
    font-weight: 100;
}

.about-me {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: auto;
    height: 400px;
    margin-top: 30px;
    padding-bottom: 100px;
    border-bottom: 1px solid #A9A9A9;
}

.about-me-text {
    flex-direction: column;
}

.bio-text {
    width: 30vw;
    margin: 40px 50px;
    text-align: left;
}

.profile {
    height: 400px;
    border-radius: 10px;
}

.experience {
    width: 200px;
    margin: 20px 50px;
    position: relative;
    padding-left: 35px;
    text-align: left;
}

.experience:before {
    content: "\f0b1";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: #228B22;
}

.graduation {
    width: 200px;
    margin: 20px 50px;
    position: relative;
    padding-left: 35px;
    text-align: left;
}

.graduation:before {
    content: "\f19d";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: #228B22;
}

.location {
    width: 200px;
    margin: 20px 50px;
    position: relative;
    padding-left: 35px;
    text-align: left;
}

.location:before {
    content: "\f041";
    font-family: FontAwesome;
    position: absolute;
    left: 7px;
    top: 0;
    font-size: 20px;
    color: #228B22;
}

/* sidebar */
.side-nav {
    position: fixed;
    left: 5vw;
    top: 30vh;
    width: 20vw;
    margin: 30px;
}

.side-nav a {
    margin: 20px;
    text-decoration: none;
    color: dimgray;
}

#side-nav {
    display: none;
}

/* my work */
.my-work {
    width: 50vw;
    padding-bottom: 100px;
}

.bullet-list {
    margin: 50px;
}

.checked {
    width: 300px;
    margin: 20px 50px;
    position: relative;
    padding-left: 35px;
    text-align: left;
}

.checked:before {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: #228B22;
}

/* blog */
.blog {
    width: 50vw;
    height: 100vh;
}
.colored-section {
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -10;
    height: 50%;
    background-color: #DCDCDC;
}

.blog-subtitle {
    color: #fff;
    padding-top: 50px;
}

.blog-printscreen {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.blog-p {
    margin-top: 50px;
    text-align: center;
}

.blog-link {
    text-decoration: none;
    color: #A9A9A9;
}

.blog-link:hover {
    color: #228B22;
}

/* contact */
.contact-form {
    padding: 100px;
}

/* footer */
.footer {
    height: 30vh;
    background: url("images/background_trees.jpg") no-repeat fixed;
    background-position: center;
    opacity: .8;
    z-index: -10;
    text-align: center;
}

.social-media{
    height: 100%;
    background-color: rgba(0,0,0,.6);
}

.follow-me-p {
    padding-top: 20px;
    color: #fff;
}

.fa {
    margin: 0 20px;
    margin-top: 5vh;
    padding: 10px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin {
    color: #fff;
}
